{% extends "Base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Detalle de compra{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/plant-logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
</head>
<body>
    <div id="informacionParrafos" class="container-fluid">
        <img src="{% static 'img/blanco.png' %}" style="width: 100%; height: 150px;">
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <h3 class="display-3" style="color: #6d8c3e;">Detalle de compra</h3><br><h6>Fecha: {{ fecha }}</h6>
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="color: #6d8c3e;">N° Boleta</th>
                                    <th style="color: #6d8c3e;">Producto</th>
                                    <th style="color: #6d8c3e;">Cantidad</th>
                                    <th style="color: #6d8c3e;">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prod in productos%}
                                <tr>
                                    <td>{{ prod.id_boleta }}</td>
                                    <td>{{ prod.id_producto }}</td>
                                    <td>{{ prod.cantidad }}</td>
                                    <td>{{ prod.subtotal }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tr><td><h6 style="font-size: 20px;"><b>Total:</b> ${{ total }}</h6></td>
                            </tr>
                        </table>
                        <a style="float: right;" href="{% url 'Inicio' %}">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'img/blanco.png' %}" style="width: 100%; height: 225px;">
    <img src="{% static 'img/blanco.png' %}" style="width: 100%; height: 150px;">
</body>
</html>
{% endblock %}